@font-face {
    font-family: 'Open Sans Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans LightItalic';
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../fonts/OpenSans-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    background-color: #EEEFF7;
}


.parallax-window {
    min-height: 600px;
    background: transparent;
}

header,
footer {
    color: #EEEFF7;
}

.wizytowka a:hover {
    text-decoration: none;
}

#omnie {
    background-color: #afdadc;
}

section article h2 {
    font-family: 'Open Sans Bold', sans-serif;
}

section article span {
    font-family: 'Open Sans LightItalic', sans-serif;
}

#omnie article p {
    font-family: 'Open Sans Light', sans-serif;
    line-height: 1.7;
}

#umiejetnosci .progress-bar {
    height: 20px;
    background-color: #445878;
}
.gist .blob-wrapper.data {
   max-height:350px;
   overflow:auto;
}
.jconfirm.jconfirm-my-theme .jconfirm-bg{
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #445878;
}
.jconfirm.jconfirm-my-theme .jconfirm-box{
    box-shadow: 3px 3px 1px lightgray;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-closeIcon{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c{
    font-size: 40px;
    font-family: 'Open Sans Bold', sans-serif;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-content-pane{
    font-family: 'Open Sans LightItalic', sans-serif;
    font-size: 25px;
    margin: 5px;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-content{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button{
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 25px;
    float: right;
}