@font-face {
    font-family: 'Open Sans Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans LightItalic';
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../fonts/OpenSans-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    background-color: #EEEFF7;
}


.parallax-window {
    min-height: 600px;
    background: transparent;
}

header,
footer {
    color: #EEEFF7;
}

.wizytowka a:hover {
    text-decoration: none;
}

#omnie {
    background-color: #afdadc;
}

section article h2 {
    font-family: 'Open Sans Bold', sans-serif;
}

section article span {
    font-family: 'Open Sans LightItalic', sans-serif;
}

#omnie article p {
    font-family: 'Open Sans Light', sans-serif;
    line-height: 1.7;
}

#umiejetnosci .progress-bar {
    height: 20px;
    background-color: #445878;
}
.gist .blob-wrapper.data {
   max-height:350px;
   overflow:auto;
}