html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

main {
    margin-top: 45px;
    margin-bottom: 80px;
}

nav {
    overflow: hidden;
    background-color: #2F3540;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    float: left;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    background: #F2EDE4;
    color: black;
}

nav a:active {
    background-color: yellow;
}

nav ul.breadcrumb {
    float: right;
    list-style: none;
}

nav ul.breadcrumb li {
    display: inline;
}


@media screen and (max-width: 578px) {
    nav > a {
        display: none;
    }
}

@media screen and (max-width: 395px) {
    main {
        margin-top: 45px;
    }
}


}

.projekty h2 {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

}

h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.tabela {
    width: 100%;
}

.tabela table {
    border-spacing: 5px;

}

.tabela table,
.tabela th,
.tabela td {
    border: 1px solid white;
    border-collapse: collapse;
}

.tabelka th,
.tabelka td {
    padding: 15px;
    text-align: left;
}

.tabela th {
    text-align: left;
    font-weight: bold;
    background-color: black;
    color: white;
}

.tabelka tr:nth-child(even) {
    background-color: #fee;
}

.tabelka tr:nth-child(odd) {
    background-color: #eff;
}


textarea {
    float: left;
    width: 95%;
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    border: 2px solid #666A73;
    font-family: 'Open Sans', sans-serif;
}

footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

footer a {
    text-decoration: none;
    color: black;
    padding-right: 6px;
}

.navigation li,
.navigation a {
    height: 80px;
    width: 50px;
    margin-right: 50px;
    display: inline-block;
}

.home a {
    background: url(../images/house.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    left 0;
}

.home a:hover {
    background: url(../images/house2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.close a {
    background: url(../images/close2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.close a:hover {
    background: url(../images/close1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.magic a {
    background: url(../images/magic1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.magic a:hover {
    background: url(../images/magic2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.animation {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 10px solid #5ABB63;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input[type="checkbox"] {
  display: none;
}

label {
  width: 250px;
  height: 110px;
  background: black;
  border-radius: 100px;
  position: relative;
  transition: all 0.6s cubic-bezier(1, -0.35, 0.62, 1.35);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}
label::before {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(1, -0.35, 0.62, 1.35);
  background: red;
  top: 10px;
  left: 10px;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.30);
}
input[type="checkbox"]:checked + label {
  background: red;
}
input[type="checkbox"]:checked + label::before {
  background: yellow;
  box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.30);
}
input[type="checkbox"]:checked + label::before {
  left: 500px;
}